## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
variable_de_num_ent= [1,2,3,4,5]
print (variable_de_num_ent)

[1, 2, 3, 4, 5]

2) Imprimir el tipo de dato de la constante 8.5

In [2]:
print(type(8.5))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [3]:
print(type(variable_de_num_ent))

<class 'list'>

4) Crear una variable que contenga tu nombre

In [5]:
mi_nombre = "Rafael Piñera"

5) Crear una variable que contenga un número complejo

In [11]:
variable_con_numero_complejo = 5 + 4j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [12]:
print (type (variable_con_numero_complejo))

<class 'complex'>

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [48]:
import math
variable_pi_4 = str((math.pi))[:6]
variable_pi_4f= float(variable_pi_4)
print (variable_pi_4f)
print (type(variable_pi_4f))

3.1415
<class 'float'>

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [51]:
variableT = 'True'
varTRUE = True

#no se trata de lo mismo, la primera es un string, la segunda bool.

<class 'str'>
<class 'bool'>

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [52]:
print (type(variableT))
print (type(varTRUE))

<class 'str'>
<class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [54]:
variable_suma= 5 + 5.5
print (variable_suma)

10.5

11) Realizar una operación de suma de números complejos

In [1]:
5J + 8J

13j

12) Realizar una operación de suma de un número real y otro complejo

In [8]:
a = 20j
c = a + 1
print (c)

(1+20j)

13) Realizar una operación de multiplicación

In [9]:
5 * 2

10

14) Mostrar el resultado de elevar 2 a la octava potencia

In [10]:
print (2**8)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [16]:
var = 27/4
print (var)

6.75

16) De la división anterior solamente mostrar la parte entera

In [17]:
print (int(var))

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [19]:
resto= 27%4
print (resto)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [47]:
#resto + var + 4 + x = 27
#resto + var +4 -27 = -x 

x = -resto - var - 4 + 27
print (x)
resto + var + 4 + x == 27

13.25

True

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [51]:
"variable alfa 1, "  + "Variable Alfa 2"

'variable alfa 1, Variable Alfa 2'

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [52]:
"2" == 2
#ocurre por que son distintos tipos de datos

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [59]:
dos = "2"
int (dos) == 2

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [62]:
#porque tiene una coma en vez de un punto
a = float('3.8')

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [65]:
var3 = 3
var3 -= 1
print (var3)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [67]:
print (1 << 2)
#da 4 dado que se corren dos lugares en la numeración binaria
#el número 1 se encontraba en la posición binaria (2**0), al correrlo dos lugares 
# (2**1) y (2**2) da 4

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [ ]:
#porque son otro tipo de dato, int y el otro str.
#si fuesen los dos str daría 22
#si fuesen los dos int daría 4

26) Realizar una operación válida entre valores de tipo entero y string

In [69]:
a = '22'
print (a * 2)

a = 22
print (a * 2)

2222
44